Source: kodi-visualization-wavforhue
Priority: extra
Maintainer: hardyt <thomas.m.hardy@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev, libkodiplatform-dev,
               kodi-visualization-dev, libgl1-mesa-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://xbmc.org

Package: kodi-visualization-wavforhue
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WaveforHue visualization for Kodi
 WavforHue visualization for Kodi

Package: kodi-visualization-wavforhue-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for WavforHue visualization for Kodi
 debug symbols for WavforHue visualization for Kodi
